---
import Layout from '../layouts/Layout.astro';
import Menu from '../layouts/Menu.astro';
import Footer from '../layouts/Footer.astro';
import HeaderNav from '../layouts/HeaderNav.astro';
import Link from '../components/ui/Link.astro';
import IconArrowLink from '../components/icons/IconArrowLink.astro';
import { textContact, mail, textResume, linkResume, linkMail } from '../assets/constants';
---

<Layout>
	<main class="responsive-x my-14">
		<HeaderNav>
            <h1 class="text-end">{textContact}.</h1>
        </HeaderNav>
		
		<div class="mt-7 md:mt-9 grid grid-cols-1 sm:grid-cols-3 gap-7 md:gap-16">
			<article class="sm:col-span-2">
                <h2 class="text-xs text-neutral-600">Correo electrónico:</h2>
                <Link link={linkMail} variant='underline' className="mt-2.5 text-xl md:text-2xl xl:text-3xl">{mail}<IconArrowLink /></Link>
                <Link link={linkResume} variant='underline' className="mt-9 text-xl md:text-2xl xl:text-3xl">{textResume}<IconArrowLink /></Link>
            </article>

			<Menu />
		</div>
	</main>

	<Footer />
</Layout>